@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap");

*{
    box-sizing: border-box;
    user-select: none;
}
a{
    color: #fff;
    text-decoration: none;
}

.titulo{
  font-family: "Cormorant Garamond", serif;
  font-size: clamp(0.66rem,2vw,1rem);
  letter-spacing: 0.5em;
  text-align: center;  
  text-transform: uppercase;
  
}

body{
    /*
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  */
  background: linear-gradient(#12111f, #12111f);
  margin: 0;
  padding: 0;
  height: 100vh;
  color: white;
  font-family: "Cormorant Garamond", serif;
  text-transform: uppercase;
    
}


 ul {
   position: relative;
   display: flex;
   transform: rotate(-25deg) skew(25deg);
   transform-style: preserve-3d;
   position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}
ul li {
  position: relative;
  list-style: none;
  width: 110px;
  height: 120px;
  margin: 50px 50px;
}
   

ul li:before{
  content: '';
  position: absolute;
  bottom: -10px;
  left: -5px;
  width: 100%;
  height: 10px;
  background: #2a2a2a;
  transform-origin: top;
  transform: skewX(-41deg);
}
ul li:after{
  content: '';
  position: absolute;
  top:5px;
  left: -9px;
  width: 9px;
  height: 100%;
  background: #2a2a2a;
  transform-origin: right;
  transform: skewY(-49deg);
}
ul li span{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex !important;
  background: #2a2a2a;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 30px !important;
  transition: 1.5s ease-out;
}
ul li:hover span {
  z-index: 1000;
  transition: .3s;
  color: #fff;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, .5);
}
ul li:hover span:nth-child(5){
  transform: translate(40px, -40px);
  opacity: 1;
}
ul li:hover span:nth-child(4){
  transform: translate(30px, -30px);
  opacity: .8;
}
ul li:hover span:nth-child(3){
  transform: translate(20px, -20px);
  opacity: .6;
}
ul li:hover span:nth-child(2){
  transform: translate(10px, -10px);
  opacity: .4;
}ul li:hover span:nth-child(1){
  transform: translate(0px, 0px);
  opacity: .2;
}
ul li:nth-child(1):hover span{
  background: #2d3efc !important;
image-rendering: auto;
}

ul li:nth-child(2):hover span{
  background: #4faed1 !important;
}
ul li:nth-child(3):hover span{
  background: #cf3ac3 !important;
}
ul li:nth-child(4):hover span{
  background: #de5d1d !important;
}

.nav {
    display: inline-flex;
    position: relative;
    max-width: 100%;
    background-color: linear-gradient(#12111f, #12111f);
    padding: 0 20px;
    border-radius: 40px;
    
}
.nav-item{
    color:#dddce0;
    padding: 20px;
    text-decoration: none;
    transition: .3s;
    margin: 0 6px;
    z-index: 1;
    font-family: 'DM Sans',sans-serif;
    font-weight: 500;
    position: relative;
}
&:before{
    content: "";
    position: relative;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #dfe2ea;
    border-radius: 8px 8px 0 0;
    opacity: 0;
    transition: .3s;
}
.nav-item:not(.is-active):hover::before{
    opacity: 1;
    bottom: 0;
}
.nav-item:not(.is-active):hover{
    color: #333;}
.nav-indicator{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    transition: .4s;
    height: 5px;
    z-index: 1;
    border-radius: 8px 8px 0 0;
}

header{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    width: 100%;
    z-index: 3;
    height: 7em;
    font-family: "Bebas Neue",sans-serif;
    font-size: clamp(0.66rem,2vw,1rem);
    letter-spacing: 0.5em;
}



@media (max-width: 580px){
    .nav{overflow: auto;}
  }
  
  h3{
  
  justify-content: center;
  hyphens: auto;
  word-break: break-word;
  line-break: normal;
  hyphens: auto;
  overflow-wrap: break-word;
  
  }

  #footer{
    background-color: transparent;
    text-align: center;
    position: relative;
    bottom: 0px;
    width: 100%;
    color: white;
}


